<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <h3>All My Tickets</h3>
            <table class="table table-stripeed">
                <thead>
                    <tr class="table-info">
                        <th>Ticket Title</th>
                        <th>Ticket Type</th>
                        <th>Ticket Status</th>
                        <th>Project</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor='let project of projects'>
                    <tr *ngFor='let ticket of project.tickets'>
                        <td [routerLink]="['/get-ticket', ticket._id]">{{ticket.title}}</td>
                        <td>{{ticket.type}}</td>
                        <td>{{ticket.status}}</td>
                        <td [routerLink]="['/get-project', project._id]">{{project.name}}</td>
                        <td>
                            <button [routerLink]="['/edit-ticket', ticket._id]" class="btn btn-warning">Edit/Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
