<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <h3>All My Tickets</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Ticket ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor='let project of projects'>
                    <tr *ngFor='let ticket of project.tickets'>
                        <td>{{ticket._id}}</td>
                        <td>{{ticket.title}}</td>
                        <td>{{ticket.tic_desc}}</td>
                        <td>{{ticket.type}}</td>
                        <td>{{ticket.priority}}</td>
                        <td>{{ticket.status}}</td>
                        <td>{{project.createdAt}}</td>
                        <td>{{project.updatedAt}}</td>
                        <td>
                            <button class="btn btn-warning">Edit/Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
