<div class="container">
    <div class="row">
        <h3>Add a new Project</h3>
        <div class="col-md-12">
            <form style="" (submit)="addNewProj()">
                <p>Project Name:</p>
                <input type="text" name="newProj.name">
                <br>
                <p>Project Description:</p>
                <textarea name="newProj.desc" cols="30" rows="5"></textarea>
                <br>
                <button class="btn btn-success">Submit new project</button>
            </form>
        </div>
    </div>
</div>
