<div class="container">
    <div class="row">
        <div class="col-md-12 table_proj">
            <h3>All Projects</h3>
            <a [routerLink]="['/add-project']">Add new project</a>
            <table class=" table table-striped">
                <thead>
                    <tr class="table-info">
                        <th>Name</th>
                        <th>Project ID</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let project of projects'>
                        <td [routerLink]="['/get-project', project._id]">{{project.name}}</td>
                        <td [routerLink]="['/get-project', project._id]">{{project._id}}</td>
                        <td>
                            <button [routerLink]="['/get-project', project._id]" class="btn btn-primary">Details</button> | 
                            <button (click)='deleteProj(project)' class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 table_tic">
            <h3>Tickets: Priority</h3>
            <table class="table table-striped">
                <thead>
                    <tr class="table-info">
                        <th>Priority</th>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Project</th>
                    </tr>
                </thead>
                <tbody *ngFor='let project of projects'>
                    <tr *ngFor='let ticket of project.tickets'>
                        <td [routerLink]="['/get-ticket', ticket._id]">{{ticket.priority}}</td>
                        <td [routerLink]="['/get-ticket', ticket._id]">{{ticket.type}}</td>
                        <td [routerLink]="['/get-ticket', ticket._id]">{{ticket.title}}</td>
                        <td [routerLink]="['/get-project', project._id]">{{project.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <div class="col-md-6 table_tic">
            <h3>Tickets: Status</h3>
            <table class="table table-striped">
                <thead>
                    <tr class="table-info">
                        <th>Status</th>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Project</th>
                    </tr>
                </thead>
                <tbody *ngFor='let project of projects'>
                    <tr *ngFor='let ticket of project.tickets'>
                        <td [routerLink]="['/get-ticket', ticket._id]">{{ticket.status}}</td>
                        <td [routerLink]="['/get-ticket', ticket._id]">{{ticket.type}}</td>
                        <td [routerLink]="['/get-ticket', ticket._id]">{{ticket.title}}</td>
                        <td [routerLink]="['/get-project', project._id]">{{project.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- 
<div>
    <div style="display: inline-block">
        <canvas baseChart
            [datasets]='barChartData'
            [labels]='barChartLabels'
            [options]='barChartOption'
            [legends]='barChartLegend'
            [chartType]='barChartType'></canvas>
    </div>
</div> -->