<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <h3>All My Projects</h3>
            <a [routerLink]="['/add-project']">Add new project</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let project of projects'>
                        <td>{{project.name}}</td>
                        <td>{{project.desc}}</td>
                        <td>{{project.createdAt}}</td>
                        <td>{{project.updatedAt}}</td>
                        <td>
                            <button class="btn btn-primary" [routerLink]="['/add-ticket', project._id]">Add Ticket</button> | 
                            <button [routerLink]="['/edit-project', project._id]" class="btn btn-warning">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
